<!DOCTYPE html>
<html>
  <head>
    <title>Orphanage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body">
  <div>
<div>


</div>
<img src=""
<%= yield %>
  </body>
  
  <div class="footer">
    <p>@may2019  AppCreatedUsingRails By Germila Saint-Jean</a>.</p>
  </div>
</html>
